# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
**/node_modules

# Client build output
client/dist
client/dist-ssr
*.local

# Server
server/.env
server/.env.*
!server/.env.example
server/public/*
!server/public/.gitkeep

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?